# Python
__pycache__/
*.pyc
.venv/
*.pkl

# IDE
.vscode/# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual envs
.venv/
venv/

# Lab outputs
Beam_Labs/outputs/
Beam_Labs/*.log
.DS_Store
Airflow_Lab1/logs/
